/*
 * Author: Daniel Pellegrino
 * Author URI: https://danieljpellegrino.com
 * Description: This is the stylesheet used for the navigation bar for TJS Designs' Portfolio Website.
 *
 * LICENSE: MIT
 */

.navbar {
    padding: 0.6rem;
    background-color: var(--color-heading);
}

/* Moves the menu section of the navigation bar to the left */
.navbar-nav {
    margin-left: auto;
}

/* Logo for the navbar */
.navbar-brand {
    width: 5rem;
    padding-left: 1.0rem;
    display: block;
    margin: 0 auto;
}

/* Sections(items) in the navbar */
.nav-section {
    padding: 0 0.5rem;
    font-size: 1.05rem;
    font-weight: 700;
    display: flex;
}

/* Dropdown menu for the navbar */
.nav-social-drop {
    padding: 0 0.5rem;
    position: relative;
}

/* Color for the navbar links */
.nav-link {
    color: var(--color-base);
}
.nav-link:hover {
    color: var(--color-base2);
}
.nav-link:focus {
    color: var(--color-brand);
}

/* === Social Media Menu === */
.nav-socials-toggle::after {
    background-color: black;
    color: white;
}

/* Container for the social media icons */
.nav-socials-menu {
    right: 0;       /* Fixes dropdown from going off on the right side of the screen when hovering */
    min-width: 90px;
    max-width: 90px;
    background-color: var(--color-base);
}

/* Anchor container for each social media icons */
.nav-social {
    padding: 0.25rem;
    display: flex;
    align-items: center;
}

/* Color for the social media icons */
.nav-social:hover {
    background-color: var(--color-base2);
}

/* Removes the ability to open image source */
.nav-socials-tab,.nav-social-icon {
    pointer-events: none
}

/* Image for the internet icon to dropdown the social media links */
.nav-socials-tab {
    width: 33px;
    height: 33px;
}

/* Image class for each social media icon */
.nav-social-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}